/* src/pages/Home.css */
.home-container {
  padding: 4rem;
  text-align: center;
  background-color: var(--bg);
  color: var(--text);
}

.home-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home-container p {
  font-size: 1.2rem;
  color: var(--subtle-text);
}
